body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:1090px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1073px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1090px;
  height:1px;
}
#u1 {
  position:absolute;
  left:340px;
  top:30px;
  width:285px;
  height:37px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:107px;
  width:1070px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:1066px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:86px;
  top:221px;
  width:39px;
  height:18px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:245px;
  top:218px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:475px;
  top:221px;
  width:465px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:87px;
  top:258px;
  width:71px;
  height:18px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:246px;
  top:255px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:204px;
  top:400px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:430px;
  top:400px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:204px;
  top:321px;
  width:445px;
  height:18px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:427px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:355px;
  top:350px;
  width:380px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:580px;
  top:321px;
  width:69px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  word-wrap:break-word;
}
