body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:18px;
  top:72px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:-20px;
  top:100px;
  width:1120px;
  height:780px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:780px;
}
#u5 {
  position:absolute;
  left:2px;
  top:382px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:120px;
  top:144px;
  width:338px;
  height:18px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:544px;
  top:144px;
  width:353px;
  height:16px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:544px;
  top:237px;
  width:221px;
  height:18px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:120px;
  top:283px;
  width:213px;
  height:16px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:120px;
  top:330px;
  width:130px;
  height:16px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:544px;
  top:283px;
  width:275px;
  height:16px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:120px;
  top:387px;
  width:113px;
  height:16px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:450px;
  width:1100px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:18px;
  top:457px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:113px;
  top:532px;
  width:144px;
  height:13px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:264px;
  top:785px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:400px;
  top:785px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:120px;
  top:190px;
  width:293px;
  height:18px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:544px;
  top:190px;
  width:333px;
  height:16px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:268px;
  top:237px;
  width:33px;
  height:16px;
  font-size:16px;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:273px;
  top:388px;
  width:190px;
  height:22px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34_input:disabled {
  color:grayText;
}
#u35 {
  position:absolute;
  left:268px;
  top:330px;
  width:119px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:910px;
  top:190px;
  width:33px;
  height:16px;
  font-size:16px;
  color:#0000FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:521px;
  top:824px;
  width:508px;
  height:26px;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:26px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:113px;
  top:574px;
  width:79px;
  height:13px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:113px;
  top:610px;
  width:118px;
  height:13px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:280px;
  top:532px;
  width:100px;
  height:13px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:357px;
  top:532px;
  width:100px;
  height:13px;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:280px;
  top:574px;
  width:100px;
  height:13px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:357px;
  top:574px;
  width:100px;
  height:13px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:280px;
  top:610px;
  width:100px;
  height:13px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:357px;
  top:610px;
  width:100px;
  height:13px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:280px;
  top:680px;
  width:157px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:113px;
  top:687px;
  width:27px;
  height:13px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:280px;
  top:734px;
  width:118px;
  height:23px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:113px;
  top:734px;
  width:81px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:420px;
  top:726px;
  width:198px;
  height:43px;
  color:#FF0000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:43px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:451px;
  top:688px;
  width:144px;
  height:13px;
  color:#FF0000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:436px;
  top:532px;
  width:40px;
  height:13px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:436px;
  top:574px;
  width:40px;
  height:13px;
  color:#FF0000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:436px;
  top:610px;
  width:40px;
  height:1px;
  color:#FF0000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:340px;
  top:30px;
  width:285px;
  height:37px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:544px;
  top:330px;
  width:81px;
  height:16px;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:727px;
  top:330px;
  width:193px;
  height:16px;
  font-size:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:120px;
  top:237px;
  width:137px;
  height:18px;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:113px;
  top:644px;
  width:66px;
  height:13px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:280px;
  top:644px;
  width:100px;
  height:13px;
}
#u86 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u85_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87 {
  position:absolute;
  left:357px;
  top:644px;
  width:100px;
  height:13px;
}
#u88 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u87_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  position:absolute;
  left:436px;
  top:644px;
  width:40px;
  height:1px;
  color:#FF0000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:1px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
