body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:734px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:39px;
  top:144px;
  width:621px;
  height:113px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:113px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:91px;
  top:438px;
  width:643px;
  height:232px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:232px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:134px;
  top:524px;
  width:505px;
  height:101px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:167px;
  top:0px;
  width:167px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:334px;
  top:0px;
  width:166px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:167px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:167px;
  top:30px;
  width:167px;
  height:36px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:334px;
  top:30px;
  width:166px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:66px;
  width:167px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:167px;
  top:66px;
  width:167px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:334px;
  top:66px;
  width:166px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
