<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cana.early.warning.dao.mapper.EarlyWarningEventReviewCustomMapper">
    
    <resultMap type="com.cana.vbam.common.early.warning.dto.EarlyWarningEventReviewListResponse" id="EarlyWarningEventReviewListResponseMap">
 	    <result column="id" property="id" jdbcType="VARCHAR" />
    	<result column="finance_id" property="financeId" jdbcType="VARCHAR" />
    	<result column="finance_company" property="financeCompany" jdbcType="VARCHAR" />
    	<result column="out_customer_id" property="outCustomerId" jdbcType="VARCHAR" />
    	<result column="out_customer_name" property="outCustomerName" jdbcType="VARCHAR" />
    	<result column="event_id" property="eventId" jdbcType="VARCHAR" />
    	<result column="event_type" property="eventType" jdbcType="VARCHAR" />
    	<result column="event_sub_type" property="eventSubType" jdbcType="VARCHAR" />
    	<result column="apply_type" property="applyType" jdbcType="VARCHAR" />
    	<result column="review_time" property="reviewTime" jdbcType="TIMESTAMP" />
    	<result column="reviewer_real_name" property="reviewerRealName" jdbcType="VARCHAR" />
    	<result column="state" property="state" jdbcType="VARCHAR" />
    	<result column="level" property="earlyWarningLevel" jdbcType="VARCHAR" />
    	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
 	</resultMap>
    
    <select id="queryEarlyWarningEventReview" parameterType="com.cana.vbam.common.early.warning.dto.EarlyWarningEventReviewListRequest" resultMap="EarlyWarningEventReviewListResponseMap">
    	select l.id, l.finance_id, l.finance_company, l.out_customer_id, t.out_customer_name, l.event_id, l.event_type,l.event_sub_type, l.apply_type, l.review_time, l.create_time,l.reviewer_real_name, l.state, if(l.state = 'wait_for_review', r.level, l.prev_level) as level
    	from vbam.early_warning_event_review as l 
    	left join vbam.early_warning_customer as r 
    	on l.finance_id = r.finance_id and l.product_id = r.product_id and l.out_customer_id = r.out_customer_id 
    	left join vbam.credit_limit as t 
    	on l.finance_id = t.member_id and l.product_id = t.project_id and l.out_customer_id = t.out_customer_id 
    	<include refid="Where_Clause"></include>
    	order by l.update_time desc
		limit ${(page -1) * pageSize} , #{pageSize}
  	</select>
    
    <select id="queryEarlyWarningEventReviewCount" parameterType="com.cana.vbam.common.early.warning.dto.EarlyWarningEventReviewListRequest" resultType="java.lang.Integer">
		select count(*)
    	from vbam.early_warning_event_review as l 
    	left join vbam.early_warning_customer as r 
    	on l.finance_id = r.finance_id and l.product_id = r.product_id and l.out_customer_id = r.out_customer_id 
    	<include refid="Where_Clause"></include>
  	</select>
    
    <sql id="Where_Clause">
		<where>
			<if test="companyName != null">
				and l.finance_company like #{companyName, jdbcType=VARCHAR}
			</if>
			<if test="auditTimeStart != null">
				and l.create_time >= #{auditTimeStart, jdbcType=TIMESTAMP}
			</if>
			<if test="auditTimeEnd != null">
				and l.create_time &lt;= #{auditTimeEnd, jdbcType=TIMESTAMP}
			</if>
			<if test="earlywarningEventAction != null">
				and l.apply_type = #{earlywarningEventAction, jdbcType=VARCHAR}
			</if>
			<if test="earlywarningReviewState != null">
				and l.state = #{earlywarningReviewState, jdbcType=VARCHAR}
			</if>
			<if test="earlywarningLevel != null">
				<choose>
					<when test="earlywarningLevel == 'normal'.toString()">
						and if(l.state = 'wait_for_review', r.level is null, l.prev_level is null)
					</when>
					<otherwise>
						and if(l.state = 'wait_for_review', r.level = #{earlywarningLevel, jdbcType=VARCHAR}, l.prev_level = #{earlywarningLevel, jdbcType=VARCHAR})
					</otherwise>
				</choose>
			</if>
				and l.product_id = #{productId, jdbcType=VARCHAR}
		</where>
	</sql>
    
</mapper>
