<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						   http://code.alibabatech.com/schema/dubbo         http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="test-springboot-server" owner="shui.ren"/>
    <dubbo:registry protocol="zookeeper" address="192.168.1.7:2181"/>
    <!--需要配置本地host，因为虚拟机获得的可能不是该虚拟机的ip-->
    <dubbo:provider threads="150" executes="100" port="29999" accesslog="true" />
    
    <bean id="springbootDemoApiImpl" class="com.example.SpringbootDemoApiImpl"/>
    <dubbo:service interface="com.example.springboot.demo.api.SpringbootDemoApi" ref="springbootDemoApiImpl"></dubbo:service>

</beans>