body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:91px;
  top:53px;
  width:342px;
  height:32px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:109px;
  top:140px;
  width:631px;
  height:163px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:163px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:109px;
  top:360px;
  width:294px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
