body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:1100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:18px;
  top:107px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:130px;
  width:1100px;
  height:680px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:680px;
}
#u5 {
  position:absolute;
  left:2px;
  top:332px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:120px;
  top:188px;
  width:139px;
  height:28px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:530px;
  top:225px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:530px;
  top:264px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:120px;
  top:310px;
  width:58px;
  height:16px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:120px;
  top:265px;
  width:157px;
  height:16px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:530px;
  top:316px;
  width:101px;
  height:18px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:340px;
  top:410px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:530px;
  top:410px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:340px;
  top:25px;
  width:285px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:259px;
  top:188px;
  width:139px;
  height:28px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:656px;
  top:224px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:261px;
  top:264px;
  width:139px;
  height:28px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:656px;
  top:264px;
  width:139px;
  height:28px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:261px;
  top:312px;
  width:139px;
  height:28px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:656px;
  top:312px;
  width:139px;
  height:28px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:120px;
  top:227px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:270px;
  top:226px;
  width:41px;
  height:18px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:631px;
  top:335px;
  width:131px;
  height:13px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
