body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:99px;
  top:42px;
  width:631px;
  height:197px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:197px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:99px;
  top:385px;
  width:631px;
  height:158px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:158px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:126px;
  top:292px;
  width:294px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
