body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u2891 {
  position:absolute;
  left:530px;
  top:221px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u2892 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2893 {
  position:absolute;
  left:603px;
  top:221px;
  width:135px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2894 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u2895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u2895 {
  position:absolute;
  left:530px;
  top:264px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u2896 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2897 {
  position:absolute;
  left:603px;
  top:264px;
  width:216px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2898 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u2899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2899 {
  position:absolute;
  left:523px;
  top:394px;
  width:477px;
  height:280px;
}
#u2900 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2901 {
  position:absolute;
  left:523px;
  top:670px;
  width:253px;
  height:16px;
  color:#FF0000;
}
#u2902 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
