<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						   http://code.alibabatech.com/schema/dubbo         http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="test-springboot-web" owner="shui.ren"/>
    <dubbo:registry protocol="zookeeper" address="192.168.1.7:2181"/>

	<dubbo:consumer timeout="60000" retries="2" check="false" />
    <dubbo:reference id="springbootDemoApi" interface="com.example.springboot.demo.api.SpringbootDemoApi" />

</beans>