body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:68px;
  width:640px;
  height:15px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:450px;
  top:184px;
  width:130px;
  height:13px;
}
#u3 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4 {
  position:absolute;
  left:230px;
  top:184px;
  width:130px;
  height:15px;
}
#u5 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u4_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6 {
  position:absolute;
  left:310px;
  top:275px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:430px;
  top:275px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:40px;
  top:120px;
  width:760px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:743px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:760px;
  height:1px;
}
