body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:109px;
  top:140px;
  width:663px;
  height:67px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:67px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:180px;
  top:220px;
  width:505px;
  height:101px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:167px;
  top:0px;
  width:167px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:334px;
  top:0px;
  width:166px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:167px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:167px;
  top:30px;
  width:167px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:334px;
  top:30px;
  width:166px;
  height:36px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:66px;
  width:167px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:167px;
  top:66px;
  width:167px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:334px;
  top:66px;
  width:166px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:109px;
  top:325px;
  width:927px;
  height:35px;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:35px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:90px;
  top:697px;
  width:643px;
  height:232px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:232px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:133px;
  top:783px;
  width:505px;
  height:101px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:167px;
  top:0px;
  width:167px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:334px;
  top:0px;
  width:166px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:30px;
  width:167px;
  height:36px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:167px;
  top:30px;
  width:167px;
  height:36px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:334px;
  top:30px;
  width:166px;
  height:36px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:66px;
  width:167px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:167px;
  top:66px;
  width:167px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:334px;
  top:66px;
  width:166px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:410px;
  top:140px;
  width:97px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:98px;
  top:400px;
  width:663px;
  height:67px;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:67px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:170px;
  top:480px;
  width:505px;
  height:101px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:167px;
  top:0px;
  width:167px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:334px;
  top:0px;
  width:166px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:30px;
  width:167px;
  height:36px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:167px;
  top:30px;
  width:167px;
  height:36px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:334px;
  top:30px;
  width:166px;
  height:36px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:66px;
  width:167px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:167px;
  top:66px;
  width:167px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:334px;
  top:66px;
  width:166px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:98px;
  top:585px;
  width:663px;
  height:35px;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:35px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:400px;
  top:400px;
  width:81px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
