body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:340px;
  top:30px;
  width:285px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:110px;
  width:1090px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1073px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1090px;
  height:1px;
}
#u3 {
  position:absolute;
  left:-10px;
  top:117px;
  width:1190px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:147px;
  width:1180px;
  height:1153px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:1153px;
}
#u6 {
  position:absolute;
  left:2px;
  top:568px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:48px;
  top:380px;
  width:867px;
  height:143px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:229px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:233px;
  top:0px;
  width:233px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:229px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:466px;
  top:0px;
  width:216px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:682px;
  top:0px;
  width:180px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:30px;
  width:233px;
  height:36px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:233px;
  top:30px;
  width:233px;
  height:36px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:229px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:466px;
  top:30px;
  width:216px;
  height:36px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:682px;
  top:30px;
  width:180px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:66px;
  width:233px;
  height:36px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:233px;
  top:66px;
  width:233px;
  height:36px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:229px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:466px;
  top:66px;
  width:216px;
  height:36px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:682px;
  top:66px;
  width:180px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:102px;
  width:233px;
  height:36px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:233px;
  top:102px;
  width:233px;
  height:36px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:229px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:466px;
  top:102px;
  width:216px;
  height:36px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:682px;
  top:102px;
  width:180px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:290px;
  width:1080px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1080px;
  height:1px;
}
#u41 {
  position:absolute;
  left:50px;
  top:210px;
  width:65px;
  height:16px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:160px;
  top:207px;
  width:140px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:340px;
  top:207px;
  width:65px;
  height:16px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:450px;
  top:204px;
  width:140px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:910px;
  top:210px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:646px;
  top:204px;
  width:140px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:609px;
  top:210px;
  width:27px;
  height:15px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:50px;
  top:320px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
