<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>tops-mediaserver</display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring/applicationContext-mediaserver.xml
			classpath*:spring/framework-quality-jmx-min-ctx.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

    <!-- cat filter -->
    <filter>
        <filter-name>cat-filter</filter-name>
        <filter-class>com.dianping.cat.servlet.CatFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cat-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

	<servlet>
		<servlet-name>ImageService</servlet-name>
		<servlet-class>com.travelzen.tops.mediaserver.servlet.ImageServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ImageService</servlet-name>
		<url-pattern>/imageservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadImageService</servlet-name>
		<servlet-class>com.travelzen.tops.mediaserver.servlet.UploadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadImageService</servlet-name>
		<url-pattern>/uploadImageService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadRelation</servlet-name>
		<servlet-class>com.travelzen.tops.mediaserver.servlet.UploadRelation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadRelation</servlet-name>
		<url-pattern>/uploadRelation</url-pattern>
	</servlet-mapping>
	<!-- <servlet>
		<servlet-name>RemoveImageService</servlet-name>
		<servlet-class>com.travelzen.tops.mediaserver.servlet.RemoveImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveImageService</servlet-name>
		<url-pattern>/removeImageService</url-pattern>
	</servlet-mapping> -->

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
